

/**
*colors
* #191970
* #212196
* #2A2ABB
* #3F3FD4
* #6464DC
**/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #8C8C8C;
    font-family: Arial, serif;
}
body{
    /*background-color: #9696ff;*/
}
.container{
    max-width: 1500px;
    min-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
}
.imgLogo{
    width: 100px;
    height: 60px;
}
.header_nav{
    background-color: #E8E8E8;

}
.header_nav ul{
    display: flex;
    align-items: center;
}
.header_nav ul > :not(:first-child){
    padding: 12px;
}
/*.header_nav ul > :not(:first-child):hover{
    !*background-color: #6464DC;*!
    padding: 12px;
}*/
.header_nav ul> :not(:first-child) a:hover{
    color: #171717;
}
.header_nav{
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
}
.content{
    width: 100%;
    min-height: 80vh;
}
.footer{
    background-color: #1f1f1f;
    max-height: 500px;
    min-height: 200px;
}
.inputHeader{
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 2px 5px;
}
.footer .container {
    display: flex;
    justify-content: space-between;
}
.footer .container ul li{
    padding: 10px;
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.footer p{
    text-align: center;
    padding: 10px 0px;
}

/*home*/
.midContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.note{
    color: #ff1b6b;
}
.midContent h1{
    font-size: 50px;
}
.midContent p{
    margin-top: 20px;
    text-align: center;
}
.midContent ul{
    margin-top: 100px;
}
.midContent ul li{
    display: inline-block;
    padding: 20px 30px;
    width: 120px;
    background-color: #3b757f;
    margin: 0px 20px;
    text-align: center;
    border-radius: 5px;
}
.midContent ul li a{
    display: block;
    transition: 0.9s ease-in-out;
    color: #ffff;
}
.midContent ul li{
    transition: 0.3s ease-in-out;
}
.midContent ul li:hover {
    background-color: #5faab1;
}

/*login.php*/
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: #E8E8E8;
    border-radius: 5px;

    width: 20vw;
    margin: 50px auto;
}
.form > :not(:last-child){
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    width: 40%;
}
.form :last-child{
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding: 8px;
    cursor: pointer;
}

/*userDashboard*/
.userDashboard{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.userSidebar{
    width: 200px;
    background-color: #E8E8E8;

}
.userProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userProfile img{
    width: 30%;
}
.userSidebar ul{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: flex-start;
}
.userSidebar ul :last-child{
    margin-top: auto;
}
.userSidebar ul li{
    padding: 10px;
}
.userSidebar ul li:hover a{
    color: #171717;
}
.userRightbar{
    padding: 20px;
    width: 100%;
    /*background-color: bisque;*/
}
.balanceCaption{
    margin-top: 20px;
    width: 100%;
    text-align: right;
    padding: 10px 0px 10px 0px;
}
.balance{
    text-align: right;
    padding: 10px 0px 10px 0px;
}
.userDescription p:nth-child(n+4){
    display: inline-block;
    background-color: #E8E8E8;
    padding: 15px 20px;
    width: 80px;
    border-radius: 5px;
    text-align: center;
}
.userDescription p:nth-child(n+4):hover button{
    /*background-color: #6464DC;*/
    color: #171717;
}
.userDescription button{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.transactionHistory {
    width: 100%;
    display: block;
}

.transactionHistory table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.transactionHistory table td,
.transactionHistory table th,
.userRequest table td, th{
    border: 1px solid #E1e1ff;
    padding: 10px;
    box-sizing: border-box;
}

.transactionHistory table tr:nth-child(even),
.userRequest table tr:nth-child(even){
    background: #E8E8E8;
}
.show {
    display: block;
    /*width: 100%;*/
}
.hide {
    display: none;
}
.depositForm{
    width: 80%;
    /*background-color: tomato;*/
    margin-top: 15px;
    display: flex;
    flex-direction: column;

}
.depositForm input, .depositForm button, .depositForm p{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #E8E8E8;
    margin-top: 10px;
}
.depositForm button{
    width: 100px;
}
.depositForm p{
    cursor: pointer;
}
.tableDiv {
    margin-top: 20px;
}

.adminTable td, .adminTable th{
    border: 1px solid #8C8C8C;
    padding: 10px;
    box-sizing: border-box;
}
.adminTable tr:nth-child(even) {
    background: #E8E8E8;
}
.adminForm{
    width: 80%;
    /*background-color: tomato;*/
    margin-top: 15px;
}
.inputWidth{
    width: 120px;
}
.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /*min-height: 80vh;*/
    background-color: #E8E8E8;
    border-radius: 5px;
    /*width: 45%;*/
}
.registerForm input{
    /*background-color: #E8E8E8;*/
    margin: 10px;
    width: 30vw;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(148,148,148,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(148,148,148,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(148,148,148,0.75);;
}
.registerForm label, .registerForm span{
    padding: 10px;
}
.registerForm span{
    color: red;
    font-size: 15px;
}
.registerForm button{
    width: 10vw;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #E8E8E8;
    margin: 10px;
    box-shadow: 0px 2px 5px 0px rgba(148,148,148,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(148,148,148,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(148,148,148,0.75);
    cursor: pointer;
}
.getInTouch{
    text-align: center;
    font-size: 50px;
}
.contactMidContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.headingGetintouch h1{
    text-align: center;
    font-size: 50px;
    padding: 30px 0px;
    margin-top: 30px;
}
.contactMidDiv{
    height: 400px;
    width: 20vw;
    background-color: #3b757f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(148,148,148,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(148,148,148,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(148,148,148,0.75);
}
.contactMidDiv i, .contactMidDiv ul{
    margin-top: 20px;
}
.contactInfoList{
    margin-top: 20px;
}
.contactInfoList h1, .contactInfoList p{
    margin-top: 10px;
    color: white;
}
.btn{
    border-radius: 5px;
    border: none;
    background-color: #E8E8E8;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
}
.circle_icon{
    background: #f1faee;
    padding:20px;
    border-radius: 50%;
    font-size: 30px;
}
.aboutMidContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}
.aboutMidContent div{
    width: 50%;
    /*background-color: #80ed99;*/
}
.workingImg{
    width: 100%;
}
.aboutUsImgDiv, .aboutUsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.aboutUsDiv{
    flex-direction: column;
    align-items: start;

}
.aboutUsDiv h1, .aboutUsDiv p, .aboutUsDiv ul, .btn{
    /*background-color: tomato;*/
    padding: 10px;
}
.ulStyle li{
    list-style-type: circle;!important;
    margin-left: 10px;
    padding: 10px;
}
.btnContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: tomato;
}
.btn{
    border: none;
    padding: 15px 30px;
    font-size: 17px;
    background-color: #3b757f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
}
.btn:hover{
    background-color: #5faab1;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.containerLeave {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerLeave h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="email"],
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background: #3b757f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input[type="submit"]:hover {
    background: #5faab1;
}
.centerDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.team-condition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80vh;
    padding: 10px;
}
.team-condition p, .team-condition h1, .team-condition h2{
    padding: 10px;
    color: #325158;
}
.highlight{
    background-color: #ddeff0;
}
.ourpartner{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    /*background-color: #438e96;*/
    color: #1a2c32;
}
.partnerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partnerContainer h1{
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    font-size: 50px;
}
.partnerImg{
    width: 120px;
}
.ourpartner p{
    text-align: center;
}